#content_grap
  .exe_x
  .exe_y
    .candidates
      .candidate
        Longueira
      .candidate
        Allamand
      .candidate
        Gomez
      .candidate
        Orrego
      .candidate
        Velasco
      .candidate
        Bachelet

  -@tweets.each do |t|
    -time = t.created_at.to_i
    -left = (@a*time+@b).to_i
    -bottom=0
    -if t.candidate== "bachelet"
      -bottom = @bachelet
    -if t.candidate== "velasco"
      -bottom = @velasco
    -if t.candidate== "orrego"
      -bottom = @orrego
    -if t.candidate== "gomez"
      -bottom = @gomez
    -if t.candidate== "allamand"
      -bottom = @allamand
    -if t.candidate== "longueira"
      -bottom = @longueira

    .circle{style: "left: #{left}px; bottom: #{bottom}px"}





