#content_grap
  .exe_x
    .labels
      -(1..9).each do |c|
        .item
  .exe_y
  .candidates


    -(0..6).each do |c|
      .grid
        -if c==0
          .name
            ="Longueira"
        -if c==1
          .name
            ="Allamand"
        -if c==2
          .name
            ="Gomez"
        -if c==3
          .name
            ="Orrego"
        -if c==4
          .name
            ="Velasco"
        -if c==5
          .name
            ="Bachelet"


  -@tweets.each do |t|
    -time = t.created_at.to_i
    -left = (@a*time+@b).to_i
    -bottom=0
    -if t.candidate== "bachelet"
      -bottom = @bachelet
    -if t.candidate== "velasco"
      -bottom = @velasco
    -if t.candidate== "orrego"
      -bottom = @orrego
    -if t.candidate== "gomez"
      -bottom = @gomez
    -if t.candidate== "allamand"
      -bottom = @allamand
    -if t.candidate== "longueira"
      -bottom = @longueira

    .circle{style: "left: #{left}px; bottom: #{bottom}px"}





