#content_grap
  .exe_x
  .exe_y
  -time = 10
  -left =(10*700/24).to_i
  .circle{style: "left: #{left}px; top: 100px"}


-@tweets.each do |t|
  =t.text
  %br
  =t.created_at
  %br
  =t.hashtags
  %br
  =t.mentions
  %br
  %br


