<!DOCTYPE html>
%html
  %head
    %title Análisis de Tweets en las Primarias 2013
    / Stylesheets
    =stylesheet_link_tag    "application", :media => "all"
    -if content_for? :stylesheets
      =yield :stylesheets

    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header
      =render partial: 'layouts/header'
    #wrapper
      .content_wrapper
        =yield
    #footer
